/* TEXT */
p, a, ul, li {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, a {
	font-family: 'Roboto', sans-serif;
}

p, a {
	font-size: 18px;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
}

li {
	list-style: none;
}

/* SECTIONS */
body {
	width: 100%;
}

body > * {
	padding: 0 15%;
}

#header {
	margin-top: -10px;
	margin-bottom: 5%;
	background-color: #2a9988;
}

div h2 {
	margin-bottom: 10px;
}

/* Nav */
nav {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

#header :not(nav) a {
	color: #FFFFFF;
}

nav a {
	text-transform: uppercase;
	color: black;
}

a {
	color: #2a9988;
}

ul {
	padding-left: 0;
}

/* Flexbox sections */
#skills-list, .description {
	display: flex;
	justify-content: space-between;
}

/* Skills */
#skills-list ul {
	margin: 0;
}

#skills-list ul > h4 {
	margin: 10px 0;
}

/* Projects */
.title {
	min-width: 50%;
	background-color: #C4E3DE;
}

.description > * {
	padding: 0 2%;
}

.title img {
	max-width: 100%;
	object-fit: contain;
}

/* Projects */
#projects li {
	margin-bottom: 25px;
}

li p, a {
	font-size: 16px;
}

/* Interests */

/* Footer */
footer {
	min-height: 10vh;
}

footer p {
	text-align: center;
	margin-bottom: 0;
}
