/*font-family: 'Lato', sans-serif;
font-family: 'Belleza', sans-serif;

/* TEXT */
p, a, ul, li {
	font-family: 'Lato', sans-serif;
}

a {
	color: #8D021F;
}

h1, h2, h3, h4 {
	font-family: 'Belleza', sans-serif;
}

h1 {
	color: #8D021F;
	font-size: 50px;
	margin-bottom: 0;
}

li {
	list-style: none;
}

/* SECTIONS */
body {
	margin: 0 15%;
	background-color: #F7F7F7;
}

div h2 {
	margin-bottom: 10px;
}

/* Nav */
nav {
	display: flex;
	justify-content: space-between;
}

nav > a {
	text-transform: uppercase;
	color: black;
}

/* Skills */

#skills-list {
	display: flex;
	justify-content: space-between;
}

#skills-list ul {
	margin: 0;
}

#skills-list ul > h4 {
	margin: 10px 0;
}

/* Projects */


/* Interests */

